@charset "utf-8";
.parallax {
        width:100%;
        height:100vh;
        overflow-y:scroll
      }
      .parallax__group {
        position: relative;
        width:100%;
        height:100vh;
      }
      .parallax__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .parallax__layer--fore {
        z-index:4;
      }
      .parallax__layer--base {
        z-index:3;
      }
      .parallax__layer--back {
        z-index:2;
      }
      .parallax__layer--deep {
        z-index:1;
      }
.full-screen img{
	
	width:100%;
	height:100%;
	}


 var body = document.querySelector('.parallax'), scrollTop = 0;
    var lv0 = body.querySelector('.parallax__layer--deep'),
        lv1 = body.querySelector('.parallax__layer--back'),
        lv2 = body.querySelector('.parallax__layer--base')
        lv3 = body.querySelector('.parallax__layer--fore');
      body.addEventListener('scroll', function (e){
        scrollTop = body.scrollTop;
        lv0.style.top=parseInt(scrollTop * 0.333) + 'px';
        lv2.style.top=(scrollTop*-1) + 'px';
        lv3.style.top=(scrollTop*-2) + 'px';
      });